# First version of recommendation model

### Links

Tutorial: [link](https://www.stepbystepdatascience.com/hybrid-recommender-lightfm-python)

Dataset: [instacart-market-basket-analysis](https://www.kaggle.com/datasets/psparks/instacart-market-basket-analysis)

### Prerequisites

Download dataset and place files in folder: ../data/instacart-market-basket-analysis

In [1]:
%pip install --upgrade pip setuptools wheel
%pip install numpy pandas scikit-learn optuna nbformat
%pip install --no-use-pep517 lightfm # https://github.com/lyst/lightfm/issues/687#issuecomment-1523956355

Requirement already satisfied: pip in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (24.0)
Requirement already satisfied: setuptools in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (69.2.0)
Requirement already satisfied: wheel in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (0.43.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (1.26.4)
Requirement already satisfied: pandas in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (2.2.1)
Requirement already satisfied: scikit-learn in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (1.4.1.post1)
Requirement already satisfied: optuna in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (3.6.1)
Requirement already satisfied: nbformat in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (5.10.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: scipy>=1.6.0 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from scikit-learn) (3.4.0)
Requirement already satisfied: alembic>=1.5.0 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from optuna) (1.13.1)
Requirement already satisfied: colorlog in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from optuna) (6.8.2)
Requirement already satisfied: packaging>=20.0 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from optuna) (24.0)
Requirement already satisfied: sqlalchemy>=1.3.0 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from optuna) (2.0.29)
Requirement already satisfied: tqdm in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from optuna) (4.66.2)
Requirement already satisfied: PyYAML in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from optuna) (6.0.1)
Requirement already satisfied: fastjsonschema in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from nbformat) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from nbformat) (4.21.1)
Requirement already satisfied: jupyter-core in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from nbformat) (5.7.2)
Requirement already satisfied: traitlets>=5.1 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from nbformat) (5.14.2)
Requirement already satisfied: Mako in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from alembic>=1.5.0->optuna) (1.3.2)
Requirement already satisfied: typing-extensions>=4 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from alembic>=1.5.0->optuna) (4.10.0)
Requirement already satisfied: attrs>=22.2.0 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (0.34.0)
Requirement already satisfied: rpds-py>=0.7.1 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (0.18.0)
Requirement already satisfied: six>=1.5 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: platformdirs>=2.5 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from jupyter-core->nbformat) (4.2.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from Mako->alembic>=1.5.0->optuna) (2.1.5)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: lightfm in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (1.17)
Requirement already satisfied: numpy in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from lightfm) (1.26.4)
Requirement already satisfied: scipy>=0.17.0 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from lightfm) (1.12.0)
Requirement already satisfied: requests in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from lightfm) (2.31.0)
Requirement already satisfied: scikit-learn in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from lightfm) (1.4.1.post1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from requests->lightfm) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from requests->lightfm) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from requests->lightfm) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from requests->lightfm) (2024.2.2)
Requirement already satisfied: joblib>=1.2.0 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from scikit-learn->lightfm) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages (from scikit-learn->lightfm) (3.4.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pickle
import sys
from os import path

import numpy as np
import pandas as pd
import optuna
import sklearn

from lightfm import LightFM
from lightfm.data import Dataset
from lightfm.evaluation import precision_at_k, recall_at_k
from lightfm.cross_validation import random_train_test_split

sys.path.insert(0, '..') # важно чтобы работали импорты из корня репозитория как в инференсе
sklearn.show_versions()

System:
    python: 3.11.6 (main, Nov  2 2023, 04:39:40) [Clang 14.0.0 (clang-1400.0.29.202)]
executable: /Users/alv.popov/prj/grifon/recommendation/api/venv/bin/python3.11
   machine: macOS-14.1.2-arm64-arm-64bit

Python dependencies:
      sklearn: 1.4.1.post1
          pip: 24.0
   setuptools: 69.2.0
        numpy: 1.26.4
        scipy: 1.12.0
       Cython: None
       pandas: 2.2.1
   matplotlib: None
       joblib: 1.3.2
threadpoolctl: 3.4.0

Built with OpenMP: True

threadpoolctl info:
       user_api: blas
   internal_api: openblas
    num_threads: 10
         prefix: libopenblas
       filepath: /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages/numpy/.dylibs/libopenblas64_.0.dylib
        version: 0.3.23.dev
threading_layer: pthreads
   architecture: armv8

       user_api: openmp
   internal_api: openmp
    num_threads: 10
         prefix: libomp
       filepath: /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages/sklearn/.dylibs/libomp.dylib
        version: None

       user_api: blas
   internal_api: openblas
    num_threads: 10
         prefix: libopenblas
       filepath: /Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages/scipy/.dylibs/libopenblas.0.dylib
        version: 0.3.21.dev
threading_layer: pthreads
   architecture: armv8

/Users/alv.popov/prj/grifon/recommendation/api/venv/lib/python3.11/site-packages/lightfm/_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn(

In [3]:
data_path = '../data'
dataset_path = path.join(data_path, 'instacart-market-basket-analysis')

# Маппинг user_id <-> order_id
raw_orders = pd.read_csv(path.join(dataset_path, 'orders.csv'))

# Продукты
raw_products = pd.read_csv(path.join(dataset_path, 'products.csv'))

# Маппинг order_id -> product_id
raw_order_products = pd.concat([pd.read_csv(path.join(dataset_path, 'order_products__prior.csv')),
                            pd.read_csv(path.join(dataset_path, 'order_products__train.csv'))])

# Фичи продуктов
aisles = pd.read_csv(path.join(dataset_path, 'aisles.csv'))
departments = pd.read_csv(path.join(dataset_path, 'departments.csv'))

# Чеки
raw_orders[(raw_orders["user_id"]==1)].sort_values(["order_number"])

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0
10,1187899,1,train,11,4,8,14.0

In [4]:
# Количество юзеров
raw_orders['user_id'].unique().size

206209

In [5]:
# Айтемы
raw_products

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
...,...,...,...,...
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49684,49685,En Croute Roast Hazelnut Cranberry,42,1
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

In [6]:
# Взаимодействия
raw_order_products

         order_id  product_id  add_to_cart_order  reordered
0               2       33120                  1          1
1               2       28985                  2          1
2               2        9327                  3          0
3               2       45918                  4          1
4               2       30035                  5          0
...           ...         ...                ...        ...
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[33819106 rows x 4 columns]

In [7]:
# Подрежем количество продуктов, возьмем пока топ 1000
top_popular_product_counts = raw_order_products.groupby('product_id').size().sort_values()[-100:].rename('count').to_frame().reset_index()
top_popular_product_counts

    product_id   count
0        21709   34211
1        20995   34248
2        33000   35384
3         7781   35551
4        41220   36028
..         ...     ...
95       47209  220877
96       21903  251705
97       21137  275577
98       13176  394930
99       24852  491291

[100 rows x 2 columns]

In [8]:
products = top_popular_product_counts.merge(raw_products, how='left', on='product_id')
products

,product_id,count,product_name,aisle_id,department_id
0,21709,34211,Sparkling Lemon Water,115,7
1,20995,34248,Organic Broccoli Florets,116,1
2,33000,35384,Pure Irish Butter,36,16
3,7781,35551,Organic Sticks Low Moisture Part Skim Mozzarel...,21,16
4,41220,36028,Organic Romaine Lettuce,83,4
...,...,...,...,...,...
95,47209,220877,Organic Hass Avocado,24,4
96,21903,251705,Organic Baby Spinach,123,4
97,21137,275577,Organic Strawberries,24,4
98,13176,394930,Bag of Organic Bananas,24,4
99,24852,491291,Banana,24,4

In [9]:
order_products = products[['product_id']].merge(raw_order_products, how='left', on='product_id')
order_products

         product_id  order_id  add_to_cart_order  reordered
0             21709       225                  3          1
1             21709       305                  3          1
2             21709       359                  9          1
3             21709       371                  4          1
4             21709       403                 10          0
...             ...       ...                ...        ...
7795466       24852   3419531                  2          1
7795467       24852   3419542                  6          0
7795468       24852   3419629                  5          1
7795469       24852   3420088                  9          1
7795470       24852   3420996                  1          1

[7795471 rows x 4 columns]

In [10]:
orders = raw_orders[raw_orders['order_id'].isin(order_products['order_id'].unique())]
orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [11]:
user_ids = orders["user_id"].unique()
product_ids = products["product_id"].unique()

dataset = Dataset()
dataset.fit(user_ids, product_ids)

user_mappings = dataset.mapping()[0]
item_mappings = dataset.mapping()[2]

len(user_mappings), len(item_mappings), list(user_mappings.items())[:5]

(194336, 100, [(1, 0), (2, 1), (3, 2), (4, 3), (5, 4)])

In [12]:
# Обратная матрица взаимодействий
inv_user_mappings = {v:k for k, v in user_mappings.items()}
inv_item_mappings = {v:k for k, v in item_mappings.items()}
list(inv_item_mappings.items())[:5]

[(0, 21709), (1, 20995), (2, 33000), (3, 7781), (4, 41220)]

In [13]:
# Создаем матрицу взаимодействий
data = orders.merge(order_products, how='inner', on='order_id').groupby(['user_id', 'product_id']).size()
data = data.to_frame().reset_index().rename(columns={0: 'weight'})
interactions, weights = dataset.build_interactions(data[['user_id', 'product_id', 'weight']].values)
interactions, weights

(<194336x100 sparse matrix of type '<class 'numpy.int32'>'
 	with 2221302 stored elements in COOrdinate format>,
 <194336x100 sparse matrix of type '<class 'numpy.float32'>'
 	with 2221302 stored elements in COOrdinate format>)

In [14]:
interactions.todense(), weights.todense()

(matrix([[0, 0, 0, ..., 0, 1, 0],
         [1, 0, 0, ..., 0, 1, 1],
         [0, 0, 0, ..., 1, 0, 0],
         ...,
         [0, 1, 0, ..., 1, 1, 0],
         [0, 1, 1, ..., 1, 1, 0],
         [0, 0, 0, ..., 0, 1, 1]], dtype=int32),
 matrix([[ 0.,  0.,  0., ...,  0.,  2.,  0.],
         [ 2.,  0.,  0., ...,  0.,  1.,  8.],
         [ 0.,  0.,  0., ...,  1.,  0.,  0.],
         ...,
         [ 0.,  4.,  0., ...,  1.,  8.,  0.],
         [ 0., 14., 21., ..., 15., 22.,  0.],
         [ 0.,  0.,  0., ...,  0.,  6.,  5.]], dtype=float32))

In [15]:
def evaluate_model(model):
    train, test = random_train_test_split(interactions, test_percentage=0.2, random_state=42)

    for metric in [precision_at_k, recall_at_k]:        
        print(f"{metric.__name__}:")
        print(f"\t- train: %.3f" % metric(model, train, k=5).mean())
        print(f"\t- test: %.3f" % metric(model, test, k=5).mean())
        print(f"\t- test new: %.3f" % metric(model, test, train, k=5).mean())

In [16]:
def objective(trial):

    train, test = random_train_test_split(interactions, test_percentage=0.2, random_state=42)

    param = {
        'no_components': trial.suggest_int("no_components", 5, 64),
        "learning_schedule": trial.suggest_categorical("learning_schedule", ["adagrad", "adadelta"]),
        "loss":  trial.suggest_categorical("loss", ["bpr", "warp", "warp-kos"]),
        "learning_rate": trial.suggest_float("learning_rate", 0.001, 1),
        "item_alpha": trial.suggest_float("item_alpha", 1e-10, 1e-06, log=True),
        "user_alpha": trial.suggest_float("user_alpha", 1e-10, 1e-06, log=True), 
        "max_sampled": trial.suggest_int("max_sampled", 5, 15),
    }
    epochs = trial.suggest_int("epochs", 20, 50)

    model = LightFM(**param, random_state=123)
    model.fit(train, epochs=epochs, verbose=True)

    val_precision = precision_at_k(model, test, k=5).mean()

    return val_precision

if True:
    best_params = {
        'no_components': 5,
        'learning_schedule': 'adagrad',
        'loss': 'warp',
        'learning_rate': 0.7510216830421954,
        'item_alpha': 6.201256477126263e-09,
        'user_alpha': 9.592173442318563e-09,
        'max_sampled': 12,
        'epochs': 46,
    }
    print("No learning")
    display(best_params)
else:
    study = optuna.create_study(direction="maximize")
    
    study.enqueue_trial(params={
        "no_components": 10, 
        "learning_schedule": 'adagrad', 
        "loss": 'warp',
        "learning_rate": 0.5,
        "item_alpha": 1e-9, 
        "user_alpha": 1e-8, 
        "max_sampled": 15,
        "epochs": 30,
    })
    
    study.optimize(objective, n_trials=50)
    
    best_params = study.best_params
    for k, v in best_params.items():
        print(k, ":", v)
    
    display(optuna.importance.get_param_importances(study))

No learning

{'no_components': 5,
 'learning_schedule': 'adagrad',
 'loss': 'warp',
 'learning_rate': 0.7510216830421954,
 'item_alpha': 6.201256477126263e-09,
 'user_alpha': 9.592173442318563e-09,
 'max_sampled': 12,
 'epochs': 46}

In [17]:
if 'epochs' in best_params:
    num_epochs = best_params['epochs']
    del best_params['epochs']

model = LightFM(**best_params, random_state=123)

model.fit(
    interactions,
    epochs=num_epochs,
    verbose=True
)

evaluate_model(model)

Epoch: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 46/46 [00:51<00:00,  1.12s/it]

precision_at_k:
	- train: 0.189
	- test: 0.062
	- test new: 0.088
recall_at_k:
	- train: 0.139
	- test: 0.121
	- test new: 0.154

In [18]:
# Сравним с топ 5 рекомендацией
# todo сделать подсчет метрики для новых пользователей

k = 5
static_prediction = top_popular_product_counts[-k:]['product_id']
static_prediction_ind = list(map(lambda x: item_mappings[x], static_prediction))

def static_precision_at_k(interactions, suppress_interactions=None):
    interactions = interactions.copy()
    interactions.data = np.isin(interactions.col, static_prediction_ind)
    hit = np.squeeze(np.array(interactions.sum(axis=1)))
    return hit / k

def static_recall_at_k(interactions, suppress_interactions=None):
    retrieved = np.squeeze(interactions.getnnz(axis=1))

    interactions = interactions.copy()
    interactions.data = np.isin(interactions.col, static_prediction_ind)
    hit = np.squeeze(np.array(interactions.sum(axis=1)))

    hit = hit[retrieved > 0]
    retrieved = retrieved[retrieved > 0]

    return hit / retrieved


train, test = random_train_test_split(interactions, test_percentage=0.2, random_state=42)
for metric in [static_precision_at_k, static_recall_at_k]:        
    print(f"{metric.__name__}:")
    print(f"\t- train: %.3f" % metric(train).mean())
    print(f"\t- test: %.3f" % metric(test).mean())
    # print(f"\t- test new: %.3f" % metric(test, train).mean())

static_precision_at_k:
	- train: 0.250
	- test: 0.063
static_recall_at_k:
	- train: 0.165
	- test: 0.155

In [19]:
# Пример инференса
from inference.model import Model

recs_model = Model(model, dataset)
recs_product_ids = recs_model.get_recommendations()
recs_product_ids

[33731, 24852, 21903, 21137, 13176]

In [20]:
%%timeit
recs_model.get_recommendations()

4.7 ms ± 73.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [21]:
recs = products[products['product_id'].isin(recs_product_ids)]
recs

    product_id   count            product_name  aisle_id  department_id
33       33731   46932         Grated Parmesan        21             16
96       21903  251705    Organic Baby Spinach       123              4
97       21137  275577    Organic Strawberries        24              4
98       13176  394930  Bag of Organic Bananas        24              4
99       24852  491291                  Banana        24              4

In [22]:
# Сохраним модель
with open('../artifacts/0-0-1.pickle', 'wb') as file:
    pickle.dump(recs_model, file, protocol=pickle.HIGHEST_PROTOCOL)